<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask_mongo_form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Student Registration</h1>

        {% if error %}
            <div class="error">
                Error : {{error}}
            </div>
        {% endif %}

        <form action="" method="POST">
            <label>Name : </label>
            <input type="text" name="name" required>

            <label>Email : </label>
            <input type="email" name="email" required>

            <label>Course : </label>
            <input type="text" name="course" required>

            <button>Submit</button>
        </form>

        <a href="/api" class="api-link">View JSON API</a>
    </div>
</body>
</html>