<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Page</title>
</head>
<body>
    <h1>To - Do Page </h1>

    <form action="">

        <label>Item ID:</label>
        <input type="text" name="itemId">
        
        <br> <br>

        <label>Item UUID:</label>
        <input type="text" name="itemUuid">

        <br> <br>

        <label>Item Hash:</label>
        <input type="text" name="itemHash">

        <br> <br>
        <label>Item Name : </label>
        <input type="text" name="itemName">

        <br> <br>

        <label>Item Description : </label>
        <textarea name="itemDescription"></textarea>

        <br> <br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>